/* Font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Variable */
:root{
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans",sans-serif;
}

/* Global */
*{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* content */
main{
    height: 100vh;
    display: grid;
    align-content: center;
    text-align: center;
    font-family: var(--ff-primary);
    background: #4f6d7a;
}
.container{
    position: relative;
    display: grid;
    /* align-content: center; */
    place-items: center;
    margin: auto;
    width: 226px;
    height: 305px;
    background: linear-gradient( -50deg, blue, red);
    background-position: right bottom;
    border-radius: 1em;
    overflow: hidden;
}

div.card{
    display: grid;
    align-content: center;
    margin: auto;
    width: 220px;
    height: 300px;
    background-color: black;
    color: rgb(124, 122, 122);
    border-radius: .8em;
    z-index: 1;
    transition: color .3s;
    animation: change-color 3s;
    animation-fill-mode: forwards;
}

@keyframes change-color {
    100%{
        color: white;
    }
}

.card:hover{
    cursor: pointer;
}

.card:active{
    transform: scale(0.99);
    font-size: 1.01em;
}

.container::before{
    content: "";
    width: 200px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 80px;
    /* bottom: 30px; */
    background: linear-gradient(50deg, yellow, lightblue, lightblue);
    transform: rotate(-45deg) translate(0, -100px);
    /* transition: all 2s; */
    animation: cardeffect 4s ease-in-out;
    animation-iteration-count: 2;
    /* animation-fill-mode:backwards; */
    animation-direction: alternate;
}

/* .container:hover::before{
    animation: cardeffect 2s ease-in-out;
} */

@keyframes cardeffect {
    100%{
        transform: rotate(-50deg) translate(0, 470px);
        width: 35em;
    }
}
/* Responsive Query */